.modal-background {
	z-index: -10;
	transition-property: background-color, z-index;
	transition-duration: 300ms, 300ms;
	@apply fixed
	flex
	justify-center
	items-center
	bg-black
	bg-opacity-60
	w-dvw
	h-dvh;
}

.modal-background.show {
	z-index: 9998;
	@apply top-0 right-0 bottom-0 left-0;
}

.modal {
	max-height: 90%;
	z-index: -10;
	transition-property: overflow, z-index;
	transition-duration: 300ms, 300ms;
	@apply w-6/12
	h-auto
	bg-white
	p-8
	overflow-hidden
	shadow-md
	shadow-gray-700;
}

.modal.show {
	z-index: 9999;
	@apply overflow-auto;
}

