.modal-background {
	z-index: -10;
	@apply fixed
	flex
	justify-center
	items-center
	bg-black
	bg-opacity-60
	w-dvw
	h-dvh;
}

.modal-background.show {
	z-index: 9998;
	@apply top-0 right-0 bottom-0 left-0;
}

.modal {
	max-height: 90%;
	z-index: -10;
	@apply w-11/12
	h-auto
	bg-white
	p-8
	overflow-hidden
	shadow-md
	shadow-gray-700;
}

@screen sm {
	.modal {
		@apply w-8/12;
	}
}

@screen lg {
	.modal {
		@apply w-6/12;
	}
}

.modal.show {
	z-index: 9999;
	@apply overflow-auto;
}

